<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodrigo.lock.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bar_offstyle" >
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.InstructionsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity
            android:name=".presentation.ConfigActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- recibe image and video -->
        <activity
            android:name=".presentation.Encrypt.ReciveImageAndVideo"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.Encrypt.ReceiveOther"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pbx" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.Encrypt.ReceiveAndEncryptActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name=".services.ExtractService"
            android:exported="false" />

        <activity
            android:name=".presentation.DecryptActivity"
            android:excludeFromRecents="true"
            android:label="@string/unlock"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presentation.SeeMedia.ListMediaActivity"
            android:excludeFromRecents="true"
            android:label="@string/secure_view"
            android:noHistory="true"
            android:theme="@style/AppThemeTransparent" >
        </activity>
        <activity
            android:name=".presentation.ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>
        <activity
            android:name=".presentation.SeeMedia.PlayVideoActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/NoActionBar" >
        </activity>

        <service
            android:name=".services.SeeMediaService"
            android:exported="false" >
        </service>

        <activity
            android:name=".presentation.SeeMedia.GridMediaActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/TransparentThemeOnlyTitle" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

</manifest>
