<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodrigo.lock.app" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PrincipalTheme" >
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Principal.Light.NoActionBar"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.InstructionsActivity"
            android:label="@string/app_name"
            android:theme="@style/Principal.Light.NoActionBar.BlackStatusBar" >
        </activity>
        <activity
            android:name=".presentation.ConfigActivity"
            android:label="@string/app_name" >
        </activity>

<!--  recibe image and video -->
        <activity
            android:name=".presentation.Encrypt.EncryptAndReciveActivity"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/Principal.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.DecryptActivity"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/unlock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presentation.SeeMedia.ListMediaActivity"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/secure_view"
            android:theme="@style/Light.NoActionBar.BlinkFeed" >
        </activity>
        <activity
            android:name=".presentation.SeeMedia.PlayVideoActivity"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:theme="@style/Light.NoActionBar.BlinkFeed" >
        </activity>
        <activity
            android:name=".presentation.SeeMedia.GridMediaActivity"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:theme="@style/BlinkFeed" >
        </activity>




        <activity
            android:name=".presentation.ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>


        <service
            android:name=".services.SeeMediaService"
            android:exported="false" >
        </service>
        <service
            android:name=".services.ExtractService"
            android:exported="false" />


    </application>

</manifest>
