<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodrigo.lock.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bar_offstyle" >
        <activity
            android:name="com.rodrigo.lock.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rodrigo.lock.app.InstructionsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name="com.rodrigo.lock.app.ConfigActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.rodrigo.lock.app.Encrypt.ReceiveAndEncryptActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pbx" />
            </intent-filter>
        </activity>

        <service android:name="com.rodrigo.lock.app.Core.Controladores.ServiceManejador" android:exported="false" />

        <activity
            android:name="com.rodrigo.lock.app.DecryptActivity"
            android:excludeFromRecents="true"
            android:label="@string/unlock"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rodrigo.lock.app.SeeImage.SeeImageActivity"
            android:excludeFromRecents="true"
            android:label="@string/secure_view"
            android:noHistory="true"
            android:theme="@style/AppThemeTransparent" >
        </activity>
        <activity
            android:name="com.rodrigo.lock.app.ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

</manifest>
