/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),  url('./../font/Roboto/Roboto-Medium.ttf')   format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('./../font/Roboto/Roboto-Regular.ttf')   format('truetype');
}


@font-face {
    font-family: "FontAwesome";
    src: url('./../font/Material-Design-Icons.ttf');
}




/** barras finas */
.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}
 
.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}


.progress-bar {
    -fx-indeterminate-bar-length: 80;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}



/* tarjeta */
.tarjeta{
	-fx-background-color: #ffffff;
	-fx-border-radius: 2; 
	-fx-background-radius: 2; 
	/*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 1);*/
	-fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 6, 0.0, 0, 1);
	
}

/** textos **/
.headlinegray{
	 -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    
    
    -fx-font-size: 24px; 
    -fx-text-fill: #666666;
}



.headline{
    -fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    
    
    -fx-font-size: 24px; 
    -fx-text-fill: #1C1C1C;
}



.title {
    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    
    -fx-font-size: 16px; 
    -fx-text-fill: #1C1C1C;
    -fx-font-weight: bold;  
    
}



.subhead {
    -fx-font-family: "Roboto";
    -fx-font-weight: 500;
    -fx-font-style: normal;
    
    -fx-font-weight: bold;
    -fx-font-size: 13px; 
    -fx-text-fill: #1C1C1C;
    
}

PasswordField{
	-fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    
    -fx-font-size: 13px; 
	-fx-background-radius: 2;
	 -fx-border-radius: 2;
}

CheckBox{
	-fx-font-family: "Roboto";
    -fx-font-weight: 400;
    -fx-font-style: normal;
    
    -fx-font-size: 12px; 
    -fx-text-fill: #1C1C1C;
}

.error{
	-fx-font-family: "Roboto";
	 -fx-font-weight: 500;
    -fx-font-style: normal;
	
    -fx-font-size: 12px; 
    -fx-text-fill: #E91E63;
}



/* btn primary  */
.btn-primary{
	-fx-font-family: "Roboto";
	-fx-font-weight: 500;	
    -fx-font-style: normal;

	-fx-font-size: 14px; 
	-fx-background-color: #2196F3;
	-fx-background-insets: 0;
	-fx-padding: 6 12;
    -fx-background-radius: 2px;
	-fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1);
    -fx-text-fill: #ffffff;
	
}


.btn-primary:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);
    -fx-background-color: #1976D2;
    
}

.btn-primary:focused {
    -fx-background-insets: 0, 1;
        -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);      
    
}



/** btn default **/
.btn-default{
	-fx-font-family: "Roboto";
	-fx-font-weight: 500;	
    -fx-font-style: normal;

	-fx-font-size: 14px; 	
    -fx-background-color: #FFFFFF;
	-fx-background-insets: 0;
	-fx-padding: 6 12;
    -fx-background-radius: 2px;
	-fx-text-fill: #2196F3;
   
	
}


.btn-default:pressed {
   /* -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);*/
    -fx-background-color: #E7E7E7;
    
}

.btn-default:focused {
    /** -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);      
    **/
}