/*

    <!-- la app nueva -->
    <color name="colorPrimary">#455A64</color>
    <color name="colorPrimaryDark">#263238</color>
    <color name="colorAccent">#FFAB00</color>

    <drawable name="completedTaskBackground">#CCCCCC</drawable>

    <drawable name="touchFeedback">#CFD8DC</drawable>

    <color name="black_overlay">#66000000</color>
*/

.margenes-bloque{
    margin-top: 128px;
    margin-bottom: 128px;
}



.contenido-main{
   /* padding-top: 180px;    */
   padding-top: 80px; 
    color: white;
}

.main-container{
    margin-top: 64px;
}

.bg-container{
  /*height: 750px;*/
   height: 466px;
  background: url('../images/files_bg_primary.png') center  no-repeat;
  background-size: cover;
  background-color: #263238;

}

.faq-preguta{
font-size: 18px;
}


.faq-respuesta{
    margin-bottom: 32px;

}

/**** Mobile layout ****/





  .android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

/* navbar */
.navbar-default {
    background-color: #263238;
    border-color: #455A64;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CFD8DC;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #455A64;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #CFD8DC;
    border-bottom-color: #CFD8DC;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #CFD8DC;
    }
}
